body {
	background-color: #333;
}

#about-section,
#skills-section {
	background: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */
#about-section h1,
p {
	font-family: 'Montserrat-Black';
}

hr {
	border: 1px dotted;
	border-style: none none dotted;
	color: #fff;
	background-color: #fff;
	width: 30%;
	/* background-color: #fff;
    border-top: dotted 2px;
    width: 30%; */
}

#projects-section p {
	font-size: 16px;

	margin-top: 1%;
}

#projects-section {
	text-align: center;
}

/* #projects-section img {
    width: 800px;
    height: 600px;
  } */

footer {
	padding: 3% 3%;
	margin-top: 3%;
	text-align: center;
}
footer p {
	margin-left: 40%;
	text-align: center;
}

.social {
	font-size: 20px;
	margin: 3px;
	color: #fff;
}
